* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.none {
  display: none;
}
.testimonial-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e2f0ef;
}

.testimonial-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 986px;
  height: 560px;
  background-color: #cee5e4;
  padding: 38px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 120px 120px 80px 120px;
  background-color: #fff;
}

.card-header,
.card-row,
.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonial-card__container {
  width: 100%;
}

.avatar {
  width: auto;
  height: auto;
}

.testimony {
  max-width: 440px;
  line-height: 137%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 43px;
}
.card-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
}
.dots-box {
  display: flex;
  align-items: center;
}
.dot {
  width: 11px;
  height: 11px;
  background-color: #e3f0ef;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    scale: 1.3;
    background-color: #007ac3;
    transition: all 0.1s;
  }
}
.dot--select {
  background-color: black;
}

.line-divisor {
  width: 100%;
  border: solid 1.5px #000;
  margin-bottom: 22px;
}

.testimony__autor__name {
  display: block;
}

.navigation {
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 0px;
}
.navigaton__arrows {
  border: none;
  background: none;
  width: 44px;
  cursor: pointer;
  transition: scale 1s;

  &:hover {
    scale: 1.3;
    transition: all 0.1s;
  }
}
.arrow {
  width: 12px;
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  &:hover {
    stroke: #007ac3;
    stroke-width: 4px;
  }
}
